/*Global styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #00D6D3;
    font-family: 'Roboto', sans-serif;
   color:#151414;
  }

  header {
    text-align: center;
    color:#3C3506;
    margin-top: 10px;
    font-size: 4em;
}
      h1 {
        font-weight: 700;
      }

      #finish{
          display: none;
      }

      .buttons, input {
        text-align: center;
        color:#FFFFFF;
        background-color: #62008F;
        margin-top: 10px;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 4px solid #151414;
        padding: 10px; 
        width: 100%;
        overflow: auto;

    }
      #start, #finish , #submit, #tryAgain, #nameInput{
        width: auto;
    }

#tryAgain{
  display: none;
  text-align: center;
}

.buttons:hover {
    
    cursor: pointer;
    box-shadow: 5px 5px 10px #888888;
    background-color:#4E045D ;
  }

  section {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    color: #3C3506;
    display: none;
    background-color: #00D1CE;
    border-radius: 10px;
    border: 4px solid #151414;
}

    #questions{
      font-weight: 700;
    }

  #finalScore{
      display: none;
      font-weight: 700;
  }

  #questions{
      font-size: 2rem;
      text-align: center;
  }
  
  #timer {
    text-align: center;
    color:#3C3506;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 10px; 
   
  }
  
  #submit{
    display: none;
  }

  #nameInput, #labelNameInput{
    display: none;
  }
  #higherScoreData {
   
    bottom: 10px;
    padding: 20px;
    display: none;
    margin: 0 auto;
    color: #3C3506;
    text-align: center;
    width: 100%;
  }

    h3{
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      
    }
        #highestScoreName{
          font-weight: 700;
        }

        #higherScore{
          font-weight: 700;
          font-size: 1.3rem;
        }

        #secondsRemaining{
          margin-top: 18px;
        }
        
        #timer{
          font-weight: 700;
        }


  .fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }