/*Global styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #BCDBD7;
   
  }

  header {
    text-align: center;
    color:#3C3506;
    font-family: "Amatic SC", cursive;
    margin-top: 10px;
    font-size: 4em;
}
    #finish{
        display: none;
    }

    section {
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
      color: #3C3506;
      display: none;
}

.buttons {
    text-align: center;
    color:#3C3506;
    font-family: "Josefin Sans", sans-serif;
    background-color: tomato;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 25px;
    border: 2px solid #C6C908;
    padding: 10px; 
    width: 100%;

}
#start, #finish , #submit, #tryAgain{
    width: auto;
    
}

#tryAgain{
  display: none;
  text-align: center;
}

.buttons:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
  }

 
  #finalScore{
      display: none;
  }

  #questions{
      font-size: 2rem;
      text-align: center;
  }
  
  #timer {
    text-align: center;
    color:#3C3506;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 10px; 
   
  }
  
  #submit{
    display: none;
  }

  #nameInput, #labelNameInput{
    display: none;
  }
  #higherScoreData {
   
    bottom: 10px;
    padding: 20px;
   display: none;
    margin: 0 auto;
    color: #3C3506;
    text-align: center;
    width: 100%;
  }

  .fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }